 .container.cadatro-users {
 	background: #f1f1f1;
    height: 620px;
    padding-top: 3%;
 }

 .container.cadatro-users h2,
 .container.cadatro-users h3 {
     font-size: 23px;
     line-height: 1.3;
     font-family: "Leckerli One", Arial, Tahoma, sans-serif;
 }
 
 .container.cadatro-users h2 {
     padding-bottom: 20px;
     font-size: 30px;
 }
 
 .container.cadatro-users h3 {
     padding-bottom: 10px;
 }
 
 .container.cadatro-users a {
     padding: 18px;
     align-items: center;
     width: 55%;
     font-size: 16px;
     border-radius: 5px;
     color: #fff;
     margin: 0 auto;
     justify-content: center;
     display: flex;
 }
 
 .img-user {
     margin-bottom: 15px;
     border-radius: 100px;
     width: 110px;
     box-shadow: 0px 1px 1px #888888;
 }
 
 .box-user {
     padding-bottom: 40px;
 }
 /* SMALL DEVICES - TABLETS*/
 
 @media screen and (min-width: 768px) {
    .container.cadatro-users {
        height: 520px;
     }
     .box-user {
         padding-top: 40px;
         width: 50%;
         float: left;
     }
 }
